body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1A1A1D, #3B1C32, #6A1E55);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

nav {
    width: 100%;
    height: 60px;
    background-color: #0b0a0e;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed; 
    top: 0;
    left: 0;

    display: flex;         
    justify-content: flex-end;
    align-items: center;
    
    z-index: 150;
    box-sizing: border-box; 
}

main {
    margin-top: 80px;
}

.text {
    color: #000000;
    text-align: center;
    margin: 0;
}
/*------------------------------------------------------------------*/
.nav-button {
    background-color: #ffffff;
    color: #000000;
    box-shadow: #ccc 0 0 10px;
    border: none;
    padding: 8px 40px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 10px;
}
/*------------------------------------------------------------------*/
.main-container {
    background: #1A1A1D;
    border-radius: 15px;
    box-shadow: 0 0 20px #778899;

    width: 80%; 
    max-width: 1200px;
    height: 300px;
    padding: 30px;

    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;

    overflow-x: auto;
    overflow-y: hidden;
}


.box-movie {
    background-color: #282628;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    flex: 0 0 22%; 
    max-width: 180px;
    height: 100%;
    gap: 5px;
    padding: 10px;
}


.img-movie-box {
    background-color: #444;
    border-radius: 10px;
    width: 100%;     
    height: 100%; 
    aspect-ratio: 16/9;
    margin-bottom: 5px;
}

.box-movie-btn {
    background-color: transparent; 
    border-radius: 8px;
    border: 2px solid #666666;
    
    width: 100%;
    height: 30px;
    color: #909090;             
    cursor: pointer;
    font-size: 14px;
}

/*------------------------------------------------------*/
.box-movie:hover{
    box-shadow: 0 0 20px #f6f6f6;
}
[name="Watch_btn"] {
    background-color: #6A1E55;
    border: none;
    color: #adacac;
}

[name="Trail_btn"]:hover {
    background-color: #dfdede;
    color: #585858;
    box-shadow: 0 0 5px #A64D79;
}
[name="Watch_btn"]:hover {
    background-color: #A64D79;
    color: #ffffff;
    box-shadow: 0 0 10px #A64D79;
}


