body {
    font-family: Arial, sans-serif;
    background:url('img/backgrounds/backgrounds1.png'),
    linear-gradient(to right, #1A1A1D, #3B1C32, #440c34);
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-blend-mode: overlay;
    background-attachment: fixed;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

nav {
    width: 100%;
    height: 60px;
    background-color: #0b0a0e;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed; 
    top: 0;
    left: 0;

    display: flex;         
    justify-content: flex-end;
    align-items: center;
    
    z-index: 150;
    box-sizing: border-box; 
}

main {
    margin-top: 80px;
}

.text {
    color: #000000;
    text-align: center;
    margin: 0;
}
/*------------------------------------------------------------------*/
.nav-button {
    background-color: #ffffff;
    color: #000000;
    box-shadow: #ccc 0 0 10px;
    border: none;
    padding: 8px 40px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 10px;
}
/*------------------------------------------------------------------*/
.title-container {
    box-shadow: 0 0 20px #778899;
    border-radius: 15px;

    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;

    width: 76%; 
    max-width: 1500px;
    height: 0px;
    padding: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.section-title-prat1 {
    font-size: 24px;
    margin: 0;
    margin-right: 10px;
    color: #e49709;
}

.main-container {
    background: #1A1A1D;
    border-radius: 15px;
    box-shadow: 0 0 20px #778899;

    width: 75%; 
    max-width: 1500px;
    height: 350px;
    padding: 30px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    overflow-x: auto;
    overflow-y: hidden;
}


.box-movie {
    background-color: #282628;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    flex: 0 0 22%; 
    max-width: 180px;
    height: 100%;
    gap: 5px;
    padding: 10px;
}


.img-movie-box {
    background-color: #444;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 100%;     
    height: 100%; 
    aspect-ratio: 16/9;
    margin-bottom: 5px;
}

.box-title {
    width: 100%;
    border: 2px solid #666666;
}
.box-movie-btn {
    background-color: transparent; 
    border-radius: 8px;
    border: 2px solid #666666;
    
    width: 100%;
    height: 30px;
    color: #909090;             
    cursor: pointer;
    font-size: 12px;
}

/*------------------------------------------------------*/
.box-movie:hover{
    box-shadow: 0 0 20px #f6f6f6;
}
[name="Watch_btn"] {
    background-color: #6A1E55;
    border: none;
    color: #adacac;
}

[name="Trail_btn"]:hover {
    background-color: #dfdede;
    color: #585858;
    box-shadow: 0 0 5px #A64D79;
}
[name="Watch_btn"]:hover {
    background-color: #A64D79;
    color: #ffffff;
    box-shadow: 0 0 10px #A64D79;
}
/*------------------------------------------------------*/
#movie1 {
    background-image: url('img/movie_Show1.png');
}
#movie2 {
    background-image: url('img/movie_Show2.png');
}
#movie3 {
    background-image: url('img/movie_Show3.png');
}
#movie4 {
    background-image: url('img/movie_Show4.png');
}
#movie5 {
    background-image: url('img/movie_Show5.png');
}



