body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1A1A1D, #3B1C32, #6A1E55);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

nav {
    width: 100%;
    height: 60px;
    background-color: #0b0a0e;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed; 
    top: 0;
    left: 0;

    display: flex;         
    justify-content: flex-end;
    align-items: center;
    
    z-index: 150;
    box-sizing: border-box; 
}

main {
    margin-top: 80px;
}

.text {
    color: #000000;
    text-align: center;
    margin: 0;
}
/*------------------------------------------------------------------*/
.nav-button {
    background-color: #ffffff;
    color: #000000;
    box-shadow: #ccc 0 0 10px;
    border: none;
    padding: 8px 40px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 10px;
}
/*------------------------------------------------------------------*/
.main-container {
    background: #160112;
    border-radius: 15px;
    box-shadow: 0 0 20px #778899;

    width: 800px;
    height: 300px;
    padding: 30px;

    justify-content: space-between;
    gap: 30px; 
    align-items: center;   

    display: flex;
}

.box-movie {
    background-color: #fefcfe;
    border-radius: 15px;
    box-shadow: 0 0 20px #778899;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 25%;
    height: 100%;
    gap: 10px;
    padding: 10px;
}

.img-movie-box {
    background-color: #444;
    border-radius: 10px;
    flex: 2;
    width: calc(100% - 0px);
    height: 30px;
}

.watch-btn {
    background-color: #6200ea;
    border-radius: 8px;
    border: none;

    flex: 1;
    margin: 0;
    
    color: #fff;
    cursor: pointer;
    font-size: 14px;

    width: 100%;
    height: 30px;
}
