body {
    font-family: Arial, sans-serif;
    background:url('img/backgrounds/backgrounds1.png'),
    linear-gradient(to right, #1A1A1D, #3B1C32, #440c34);
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-blend-mode: overlay;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: flex-start;
    gap: 20px;

    min-height: 100vh;
    margin: 0;

    overflow-x: hidden;
    overflow-y: auto;
}

nav {
    width: 100%;
    height: 60px;
    background-color: #0b0a0e;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed; 
    top: 0;
    left: 0;

    display: flex;         
    justify-content: flex-end;
    align-items: center;
    
    z-index: 150;
    box-sizing: border-box; 
}

main {
    margin-top: 80px;
}

.text {
    color: #000000;
    text-align: center;
    margin: 0;
}
/*------------------------------------------------------------------*/
.nav-button {
    background-color: #ffffff;
    color: #000000;
    box-shadow: #ccc 0 0 10px;
    border: none;
    padding: 8px 40px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 10px;
}

.Show-main-movie {
    background-image: url('img/main_movie1.png');
    background-size: cover;
    background-position: center;

    border-radius: 15px;
    box-shadow: 0 0 20px #778899;
    display: flex;
    justify-content: end;
    align-items: end;
    
    width: 80%; 
    height: 400px;
    padding: 10px;

    max-width: 1000px;
    max-height: 400px;
    margin-top: 80px;
}

.Show-trailer-movie {
    width: 40%; 
    height: 40%;
    border-radius: 15px;
    border: none;

    max-width: 280px;
    max-height: 300px;
}

.details-movie {
    border-radius: 10px;
    box-shadow: #ccc 0 0 10px;
    
    width: 80%; 
    height: auto;
    padding: 10px;

    max-width: 45%;
    min-width: 550px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.Show-poster-movie{
    background-image: url('img/movie_Show1.png');
    background-size: cover;
    background-position: center;

    border-radius: 15px;
    margin-top: 4%;

    width: 80%; 
    height: 300px;

    max-width: 200px;
    min-width: 150px;
    max-height: 300px;
}

.Show-info-movie {
    color: #ffffff;
    text-align: left;
    line-height: 1.1;
    width: 100%;
    padding: 10px;
}

.movie-score2 {
    margin: 10px 0px;
    color: #fff200;
}

.credit-container {
    border-radius: 10px;
    box-shadow: #ccc 0 0 10px;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;

    width: 80%; 
    height: 0px;
    padding: 10px;

    max-width: 45%;
    min-width: 550px;
}

.credit-box {
    margin-left: 38vh;
    margin-top: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.credit-img {
    width: 65px;
    min-width: 65px;
    height: auto;
    border-radius: 100px;
    box-shadow: #ccc 0 0 10px;
}

/*------------------------------------------------------------------*/
