body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1A1A1D, #3B1C32, #6A1E55);

    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: flex-start;
    gap: 20px;

    min-height: 100vh;
    margin: 0;

    overflow-x: hidden;
    overflow-y: auto;
}

nav {
    width: 100%;
    height: 60px;
    background-color: #0b0a0e;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed; 
    top: 0;
    left: 0;

    display: flex;         
    justify-content: flex-end;
    align-items: center;
    
    z-index: 150;
    box-sizing: border-box; 
}

main {
    margin-top: 80px;
}

.text {
    color: #000000;
    text-align: center;
    margin: 0;
}
/*------------------------------------------------------------------*/
.nav-button {
    background-color: #ffffff;
    color: #000000;
    box-shadow: #ccc 0 0 10px;
    border: none;
    padding: 8px 40px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 10px;
}

.Show-main-movie {
    background: #1A1A1D;
    border-radius: 15px;
    box-shadow: 0 0 20px #778899;
    
    width: 80%; 
    height: 400px;
    padding: 10px;

    max-width: 900px;
    max-height: 350px;
    margin-top: 80px;
}

.details-movie {
    background-color: #778899;
    border-radius: 15px;
    box-shadow: 0 0 20px #1A1A1D;

    width: 80%; 
    height: 400px;
    padding: 10px;

    max-width: 45%;
    min-width: 550px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.Show-poster-movie{
    background-color: #0b0a0e;
    border-radius: 15px;

    width: 80%; 
    height: 250px;

    max-width: 170px;
    min-width: 150px;
    max-height: 230px;
}

.Show-info-movie {
    color: #000000;
    text-align: left;


    width: 100%;
}
/*------------------------------------------------------------------*/
