body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1A1A1D, #3B1C32, #6A1E55);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: start;
    
    height: 100vh;
    margin: 0;
}

nav {
    width: 100%;
    height: 60px;
    background-color: #0b0a0e;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed; 
    top: 0;
    left: 0;

    display: flex;         
    justify-content: flex-end;
    align-items: center;
    
    z-index: 150;
    box-sizing: border-box; 
}

main {
    margin-top: 80px;
}

.text {
    color: #000000;
    text-align: center;
    margin: 0;
}
/*------------------------------------------------------------------*/
.nav-button {
    background-color: #ffffff;
    color: #000000;
    box-shadow: #ccc 0 0 10px;
    border: none;
    padding: 8px 40px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 10px;
}

.Show-main-movie {
    background: #1A1A1D;
    border-radius: 15px;
    box-shadow: 0 0 20px #778899;
    
    width: 80%; 
    max-width: 1200px;
    height: 400px;
    padding: 10px;
}
/*------------------------------------------------------------------*/
